.babelrc
.circleci/*
.deepsource.toml
.dockerignore
.DS_Store
.editorconfig
.env-example
.eslintignore
.eslintrc
.github/*
.gitleaks.toml
.gitpod.yml
.jshintrc
.npmrc
.php-cs-fixer.cache
.php-cs-fixer.dist
.php_cs.dist
.phpunit.result.cache
.prettierignore
.prettierrc.json
.rector/*
.release-it.json
.vscode
.vscodeignore
.vsconfig
assets/*
babel.config.js
browserstack.js
build/*
CITATION.cff
composer.lock
DISCRIMINATION_POLICY.md
docs/*
FEATURE_OR_BUG.md
Gruntfile.js
humbug*
LICENSE
MANIFEST.in
node_modules/*
package-lock.json
package.json
PARTICIPATION.md
phpcs.xml
phpunit.xml.dist
rector.php.bak
renovate.json
REVIEWING.md
runner.log
runner.xml
vendor/*
