.circleci/*
.DS_Store
.editorconfig
.github/*
.jshintrc
.php_cs.dist
.phpunit.result.cache
.vscode
assets/*
build/*
CITATION.cff
composer.lock
docs/*
Gruntfile.js
humbug*
LICENSE
MANIFEST.in
node_modules/*
package-lock.json
package.json
phpcs.xml
runner.log
runner.xml
vendor/*
