/.babelrc export-ignore
/.circleci export-ignore
/.coveralls.yml export-ignore
/.deepsource.toml export-ignore
/.dockerignore export-ignore
/.DS_Store export-ignore
/.editorconfig export-ignore
/.env-example export-ignore
/.eslintignore export-ignore
/.eslintrc export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitleaks.toml export-ignore
/.gitpod.yml export-ignore
/.jshintrc export-ignore
/.markdownlint.json export-ignore
/.npmrc export-ignore
/.php-cs-fixer.dist export-ignore
/.php_cs.dist export-ignore
/.phpunit.result.cache export-ignore
/.prettierignore export-ignore
/.prettierrc.json export-ignore
/.release-it.json export-ignore
/.styleci.yml export-ignore
/.vscode export-ignore
/.vscodeignore export-ignore
/.vsconfig export-ignore
/.whitesource export-ignore
/assets export-ignore
/babel.config.js export-ignore
/browserstack.js export-ignore
/build export-ignore
/CITATION.cff export-ignore
/CODE_OF_CONDUCT.md export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/DISCRIMINATION_POLICY.md export-ignore
/docs export-ignore
/FEATURE_OR_BUG.md export-ignore
/GOVERNANCE.md export-ignore
/Gruntfile.js export-ignore
/humbug export-ignore
/lerna.json export-ignore
/LICENSE export-ignore
/MANIFEST.in export-ignore
/node_modules export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/PARTICIPATION.md export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/renovate.json export-ignore
/REVIEWING.md export-ignore
/runner.log export-ignore
/runner.xml export-ignore
/SECURITY.md export-ignore
/tests export-ignore
/vendor export-ignore
