/.circleci export-ignore
/.coveralls.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.jshintrc export-ignore
/.markdownlint.json export-ignore
/.php_cs.dist export-ignore
/.styleci.yml export-ignore
/.whitesource export-ignore
/assets export-ignore
/CITATION.cff export-ignore
/CODE_OF_CONDUCT.md export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/docs export-ignore
/GOVERNANCE.md export-ignore
/lerna.json export-ignore
/LICENSE export-ignore
/MANIFEST.in export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
/tests export-ignore
/vendor export-ignore
